{% extends 'base.html.twig' %}

{% block title %}Afficher un statut professionnel - Admin{% endblock %}

{% block body %}
    <div class="container-fluid container_table_list">
        <h2 class="show-title">Statut Professionnel : {{ professional_status.name }}</h2>

        <a class="btn btn-light" href="{{ path('professional_status_index') }}">Retour à la liste</a>
        <a class="btn btn-success" href="{{ path('professional_status_edit', {'id': professional_status.id}) }}">Modifier</a>
        {{ include('admin/professional_status/_delete_form.html.twig') }}

        <table class="table table-striped table_list">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ professional_status.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ professional_status.name }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ professional_status.slug }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
