{% extends 'base.html.twig' %}

{% block title %}Liste des projets - Admin{% endblock %}

{% block body %}
    <div class="container-fluid container_table_list">
        <h2 class="title-category" >Liste des projets</h2>

        <table class="table table-striped table_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <!--<th>Description</th>-->
                    <th>IsActive</th>
                    <th>CreatedDate</th>
                    <!--<th>Slug</th>-->
                    <!--<th>LinkProject</th>-->
                    <!--<th>LinkVideo</th>-->
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <!--<td>{{ project.description }}</td>-->
                    <td>{{ project.isActive ? 'Yes' : 'No' }}</td>
                    <td>{{ project.createdDate ? project.createdDate|date('d-m-Y') : '' }}</td>
                    <!--<td>{{ project.slug }}</td>-->
                    <!--<td>{{ project.linkProject }}</td>-->
                    <!--<td>{{ project.linkVideo }}</td>-->
                    <td>
                        <a class="btn btn-link  p-0"  data-toggle="tooltip" data-placement="top" title="show" href="{{ path('project_show', {'id': project.id}) }}"><i class="fas fa-search"></i></a>
                        <a class="btn btn-link  p-0"  data-toggle="tooltip" data-placement="top" title="edit" href="{{ path('project_edit', {'id': project.id}) }}"><i class="fas fa-edit"></i></a>
                        {{ include('admin/project/_delete_link.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('project_new') }}">Create new</a>
    </div>
{% endblock %}
