{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>IsActive</th>
                <th>CreatedDate</th>
                <th>Slug</th>
                <th>LinkProject</th>
                <th>LinkVideo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ project.createdDate ? project.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.slug }}</td>
                <td>{{ project.linkProject }}</td>
                <td>{{ project.linkVideo }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
