{% extends 'base.html.twig' %}

{% block title %}Liste des spécialisations - Admin{% endblock %}

{% block body %}
    <div class="container-fluid container_table_list">
        <h2 class="title-category" >Liste des spécialisations</h2>
        <a href="{{ path('specialisation_new') }}" class="add-element"><i class="fas fa-plus"></i> Ajouter une spécialisation</a>

        <table class="table table-striped table_list">
            <thead>
                <tr>
                    <th {% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                    <th {% if pagination.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                    <th {% if pagination.isSorted('slug') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Slug', 'slug') }}</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for specialisation in pagination %}
                <tr>
                    <td>{{ specialisation.id }}</td>
                    <td>{{ specialisation.name }}</td>
                    <td>{{ specialisation.slug }}</td>
                    <td>
                        <a class="btn btn-link p-0"  data-toggle="tooltip" data-placement="top" title="show" href="{{ path('specialisation_show', {'id': specialisation.id}) }}"><i class="fas fa-search"></i></a>
                        <a class="btn btn-link p-0"  data-toggle="tooltip" data-placement="top" title="edit" href="{{ path('specialisation_edit', {'id': specialisation.id}) }}"><i class="fas fa-edit"></i></a>
                        {{ include('admin/specialisation/_delete_link.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('specialisation_new') }}">Create new</a>

        {{ include('admin/partials/__pagination.html.twig') }}
    </div>
{% endblock %}
