{% extends 'base.html.twig' %}

{% block title %}Specialisation index{% endblock %}

{% block body %}
    <h1>Specialisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialisation in specialisations %}
            <tr>
                <td>{{ specialisation.id }}</td>
                <td>{{ specialisation.name }}</td>
                <td>{{ specialisation.slug }}</td>
                <td>
                    <a  data-toggle="tooltip" data-placement="top" title="show" href="{{ path('specialisation_show', {'id': specialisation.id}) }}"><i class="fas fa-search"></i></a>
                    <a  data-toggle="tooltip" data-placement="top" title="edit" href="{{ path('specialisation_edit', {'id': specialisation.id}) }}"><i class="fas fa-edit"></i></a>
                    <a  data-toggle="tooltip" data-placement="top" title="delete" href="{{ path('specialisation_delete', {'id': specialisation.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('specialisation_new') }}">Create new</a>
{% endblock %}
