{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-around button_container">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
        {{ include('admin/competence/_delete_form.html.twig') }}
    </div>
{{ form_end(form) }}
