<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
  <a class="navbar-brand d-lg-none m-0 d-flex" href="{{ path('admin_index') }}"><img class="logo-community" src="{{ asset('img/logoOcommunity.svg')}}" alt="logo O'clock community"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="menu-burger-text text-creme"><i class="fas fa-bars"></i></span>
    <span class="menu-burger-text text-creme">Menu</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mt-2 mt-lg-0 d-flex justify-content-between">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <li class="nav-item d-lg-none">
        <a class="nav-link text-creme" href="{{ path('app_user_index') }}">Les étudiants</a> 
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link text-creme" href="{{ path('project_index') }}">Les projets</a>
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link text-creme" href="{{ path('promotion_index') }}">Les promotions</a>
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link text-creme" href="{{ path('professional_status_index') }}">Les statuts professionnels</a>
      </li> 
      <li class="nav-item d-lg-none">
        <a class="nav-link text-creme" href="{{ path('specialisation_index') }}">Les spécialisations</a>
      </li> 
      <li class="nav-item d-lg-none">
        <a class="nav-link text-creme" href="{{ path('competence_index') }}">Les compétences</a>
      </li> 
      <li class="nav-item d-lg-none">
        <a class="nav-link text-creme" href="{{ path('image_index') }}">Les images</a>
      </li> 
      <li class="nav-item d-lg-none">
        <a class="nav-link text-creme" href="/admin">ADMIN</a>
      </li> 
      <li role="separator" class="divider d-lg-none">
        <hr>
      </li>


      <li class="nav-item d-lg-none">
          <a class="nav-link text-creme" href="{{ path('app_logout') }}">Déconnexion</a>
      </li> 
      {% else %}
      <li class="nav-item d-lg-none">
          <a class="nav-link text-creme" href="{{ path('app_login') }}">Connexion</a>
      </li> 
      {% endif %}
          
      
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} 
      <li class="nav-item dropdown d-none d-lg-flex">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">  
        
          <a class="dropdown-item" href="{{ path('admin_index') }}">Accueil</a> 

          <a class="dropdown-item" href="{{ path('app_user_index') }}">Les étudiants</a> 

          <a class="dropdown-item" href="{{ path('project_index') }}">Les projets</a>

          <a class="dropdown-item" href="{{ path('promotion_index') }}">Les promotions</a>

          <a class="dropdown-item" href="{{ path('professional_status_index') }}">Les statuts professionnels</a>

          <a class="dropdown-item" href="{{ path('specialisation_index') }}">Les spécialisations</a>

          <a class="dropdown-item" href="{{ path('competence_index') }}">Les compétences</a>

          <a class="dropdown-item" href="{{ path('image_index') }}">Les images</a>

          <a class="dropdown-item" href="/admin">ADMIN</a>
        
        </div>
      </li>
      {% endif %}

      <a class="navbar-brand d-lg-flex m-0 d-none" href="{{ path('admin_index') }}"><img class="logo-community" src="{{ asset('img/logoOcommunity.svg')}}" alt="logo O'clock community"></a>
      <li class="nav-link nav-link_disconnect d-none d-lg-flex">
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('app_logout') }}">Déconnexion</a>
          {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>
          {% endif %}
      </li>

    </ul>

  </div>

</nav>