{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-around button_container">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
        {% if (app_user.id) %}
            {{ include('admin/app_user/_delete_form.html.twig') }}
        {% endif %}
    </div>
{{ form_end(form) }}
