{% extends 'base.html.twig' %}

{% block title %}Liste des membres - Admin{% endblock %}

{% block body %}
    <div class="container-fluid container_table_list">
        <h2 class="title-category" >Liste des utilisateurs</h2>

        <table class="table table-striped table_list">
         
            <thead>
                <tr>
                    <th {% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                    <th {% if pagination.isSorted('email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                    <!--<th>Password</th>-->
                    <th {% if pagination.isSorted('firstname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Firstname', 'firstname') }}</th>
                    <th {% if pagination.isSorted('lastname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Lastname', 'lastname') }}</th>
                    <th {% if pagination.isSorted('birthDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'BirthDate', 'birthDate') }}</th>
                    <th>ProfilePicture</th>
                    <th>PhoneNumber</th>
                    <th {% if pagination.isSorted('city') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'City', 'city') }}</th>
                    <th {% if pagination.isSorted('zipcode') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Zipcode', 'zipcode') }}</th>
                    <!--<th>LinkLinkedin</th>-->
                    <!--<th>LinkGithub</th>-->
                    <!--<th>LinkPersonal</th>-->
                    <th {% if pagination.isSorted('isactive') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'IsActive', 'isactive') }}</th>
                    <th {% if pagination.isSorted('createdDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'CreatedDate', 'createdDate') }}</th>
                    <!--<th>Description</th>-->
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for app_user in pagination %}
                <tr>
                    <td>{{ app_user.id }}</td>
                    <td>{{ app_user.email }}</td>
                     <!--<td>{{ app_user.password }}</td>-->
                    <td>{{ app_user.firstname }}</td>
                    <td>{{ app_user.lastname }}</td>
                    <td>{{ app_user.birthdate ? app_user.birthdate|date('Y-m-d H:i:s') : '' }}</td>
                    <td><img class="image_for_list" src="{{ app_user.profilePicture }}" alt=""></td>
                    <td>{{ app_user.phoneNumber }}</td>
                    <td>{{ app_user.city }}</td>
                    <td>{{ app_user.zipcode }}</td>
                    <!--<td>{{ app_user.linkLinkedin }}</td>-->
                    <!--<td>{{ app_user.linkGithub }}</td>-->
                    <!--<td>{{ app_user.linkPersonal }}</td>-->
                    <td>{{ app_user.isActive ? 'Yes' : 'No' }}</td>
                    <td>{{ app_user.createdDate ? app_user.createdDate|date('d-m-Y') : '' }}</td>
                     <!--<td>{{ app_user.description }}</td>-->
                    <td>
                        <a class="btn btn-link  p-0"  data-toggle="tooltip" data-placement="top" title="show" href="{{ path('app_user_show', {'id': app_user.id}) }}"><i class="fas fa-search"></i></a>
                        <a class="btn btn-link  p-0"  data-toggle="tooltip" data-placement="top" title="edit" href="{{ path('app_user_edit', {'id': app_user.id}) }}"><i class="fas fa-edit"></i></a>
                        {{ include('admin/app_user/_delete_link.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="17">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_user_new') }}">Create new</a>
    
        {{ include('admin/partials/__pagination.html.twig') }}
    </div>

{% endblock %}
