{% extends 'base.html.twig' %}

{% block title %}Afficher un utilisateur - Admin{% endblock %}

{% block body %}
    <div class="container-fluid container_table_list">
        <h2 class="show-title">Profil de {{ app_user.firstname }} {{ app_user.lastname }}</h2>

        <a class="btn btn-light" href="{{ path('app_user_index') }}">Retour à la liste</a>
        <a class="btn btn-success" href="{{ path('app_user_edit', {'id': app_user.id}) }}">Modifier</a>
        {{ include('admin/app_user/_delete_form.html.twig') }}
        {{ include('admin/app_user/_reset_password_form.html.twig') }}

        <table class="table table-striped table_list">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ app_user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ app_user.email }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ app_user.firstname }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ app_user.lastname }}</td>
                </tr>
                <tr>
                    <th>Date de naissance</th>
                    <td>{{ app_user.birthdate ? app_user.birthdate|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Photo de profil</th>
                    <td><img class="image_for_list bg-creme" src="{{ (asset('img/profils/' ~ app_user.contentUrl)) }}" alt="profil picture" data-toggle="modal" data-target="#modal-{{ app_user.id }}"></td>

                        <!-- Modal -->
                        <div class="modal fade" id="modal-{{ app_user.id }}" tabindex="-1" role="dialog" aria-labelledby="view_picture" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body d-flex justify-content-center">
                                        <img class="img-fluid modal-image bg-creme" src="{{ (asset('img/profils/' ~ app_user.contentUrl)) }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                </tr>
                <tr>
                    <th>Numéro de téléphone</th>
                    <td>{{ app_user.phoneNumber }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ app_user.city }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ app_user.zipcode }}</td>
                </tr>
                <tr>
                    <th>Lien Linkedin</th>
                    <td>{{ app_user.linkLinkedin }}</td>
                </tr>
                <tr>
                    <th>Lien Github</th>
                    <td>{{ app_user.linkGithub }}</td>
                </tr>
                <tr>
                    <th>Lien Personnel</th>
                    <td>{{ app_user.linkPersonal }}</td>
                </tr>
                <tr>
                    <th>Actif</th>
                    <td>{{ app_user.isActive ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ app_user.createdDate ? app_user.createdDate|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ app_user.description }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ app_user.slug }}</td>
                </tr>
                <tr>
                    <th>Promotion</th>
                    {% if app_user.promotion %}
                        <td><a href="{{ path('promotion_show', {id: app_user.promotion.id}) }}">{{ app_user.promotion.name }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Projet</th>
                    {% if app_user.project %}
                        <td><a href="{{ path('project_show', {id: app_user.project.id}) }}">{{ app_user.project.name }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
