{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageLink</th>
                <th>IsHero</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.imageLink }}</td>
                <td>{{ image.isHero ? 'Yes' : 'No' }}</td>
                <td>
                    <a  data-toggle="tooltip" data-placement="top" title="show" href="{{ path('image_show', {'id': image.id}) }}"><i class="fas fa-search"></i></a>
                    <a  data-toggle="tooltip" data-placement="top" title="edit" href="{{ path('image_edit', {'id': image.id}) }}"><i class="fas fa-edit"></i></a>
                    <a class='delete-link' data-toggle="tooltip" data-placement="top" title="delete" href="{{ path('image_delete', {'id': image.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
