{% extends 'base.html.twig' %}

{% block title %}Liste des images - Admin{% endblock %}

{% block body %}

    <div class="container-fluid container_table_list">
        <h2 class="title-category" >Liste des images</h2>
        <a href="{{ path('image_new') }}" class="add-element"><i class="fas fa-plus"></i> Ajouter une image</a>

        <table class="table table-striped table_list">
            <thead>
                <tr>
                    <th {% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                    <th>ImageLink</th>
                    <th {% if pagination.isSorted('isHero') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'IsHero', 'isHero') }}</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for image in pagination %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td><img class="image_for_list" src="{{ image.imageLink }}" alt=""></td>
                    <td>{{ image.isHero ? 'Yes' : 'No' }}</td>
                    <td>
                        <a class="btn btn-link  p-0"  data-toggle="tooltip" data-placement="top" title="show" href="{{ path('image_show', {'id': image.id}) }}"><i class="fas fa-search"></i></a>
                        <a class="btn btn-link  p-0"  data-toggle="tooltip" data-placement="top" title="edit" href="{{ path('image_edit', {'id': image.id}) }}"><i class="fas fa-edit"></i></a>
                        {{ include('admin/image/_delete_link.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ include('admin/partials/__pagination.html.twig') }}
    </div>
{% endblock %}
